* {
  margin: 0;
}

html, body {
  height: 100%;
}

h2.politician_name {
  margin-top: 0px;
}

.content {
  padding-bottom: 20px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -200px;
}

footer, .push {
  height: 200px;
}

.mouse {
  cursor: pointer;
}

footer {
  border-top: 1px solid #E6E6E6;
  background-color: #F5F5F5;
  padding: 25px 0;
}

input[name="image"] {
  width: 200px !important;
}

footer .logos {
  height: 50px;
  width: 100%;
}

footer .logos tr {
  padding: 0 5%;
}

footer .logos tr td {
  width: 30%;
  text-align: center;
}

footer .logo {
  height: 50px;
}

footer address {
  margin: 25px 0 15px;
  font-style: italic;
  text-align: center;
}

footer .github {
  text-align: center;
}

body {
  padding-top: 60px;
}

.buttons form {
  display: inline;
}

.ui-slider {
  background: none;
  background-color: #555555 !important;
  opacity: 1;
}

.ui-slider .ui-slider-handle {
  border: 1px solid #2e6da4;
  background: none;
  background-color: #337ab7;
}

.slider-readonly .ui-slider-handle {
  border: none;
  background: none;
  background-image: url("images/triangle.png");
  background-size: 85% 85%;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0px;
}

.filter {
  margin-bottom: 10px;
}

textarea.note {
  margin-top: 10px;
  resize: vertical;
}

.details .row {
  margin-bottom: 5px;
}

svg.img-thumbnail {
  margin-bottom: -5px;
}


#messages {
  z-index: 2000;
  width: 250px;
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
  height: 100%;
}

#messages .alert {
  margin-top: 10px;
  text-align: left;
  margin: 0 0 10px 0;
}

.desc-toggler {
  cursor: pointer;
}

.desc-toggler.no-desc {
  color: #777777;
  cursor: default;
}

.desc {
  background-color: #DDDDDD;
  border: 1px solid lightgrey;
  border: 1px solid lightgrey;
  display: none;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
}

.navbar-logo {
  height: 25px;
  margin: 9px 5px 16px;
}

.source {
  font-size: 10px;
  float: right;
}
