.footer
  height: 360px
  border-top: 1px solid #E6E6E6
  background-color: #F5F5F5
  padding: 25px 0

.logos
  margin: 0 0 30px

.footer-icon
  display: flex
  flex-direction: column
  align-items: center

  img
    height: 30px

.center-content
  display: flex
  justify-content: center

.address
  text-align: center
