.question-row
  padding-top: 10px
  padding-bottom: 10px

.desc-toggler
  cursor: pointer
  display: block

.desc-toggler.no-desc
  color: #777777
  cursor: default

.desc
  background-color: #DDDDDD
  border: 1px solid lightgrey
  border: 1px solid lightgrey
  display: none
  margin-top: 5px
  max-height: 200px
  overflow-y: auto
  padding: 5px
