
[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.js]
indent_style = space
indent_size = 2

[*.sass]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 4

[*.yml,*.yaml]
indent_style = space
indent_size = 2
