django==1.6
django-debug-toolbar==1.2.2
django-modeltranslation==0.8
pillow
django-cms==3.0.10
South
psycopg2
easy-thumbnails
django-mptt
django-sekizai
django-classy-tags
djangocms-admin-style
html5lib
six
django-js-reverse
djangocms_text_ckeditor
flup
