{% load i18n %}

<form method="get" class="mvm">
    <div class="panel panel-default mb0">
        <div class="panel-heading">
            <div class="panel-title">{% trans 'Filters' %}</div>
        </div>
        <div class="panel-body">
            {% if 'evaluate' in request.GET.keys %}<input type="hidden" name="evaluate" value="1">{% endif %}
            <div class="row form-group">
                <div class="col-md-12">
                    <input
                    name="search"
                    type="text"
                    class="form-control"
                    placeholder="{% trans 'search' %}..."
                    value="{{request.GET.search}}"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <select name="party" class="form-control">
                        <option value="">{% trans 'filter_by_party' %}...</option>
                        <option disabled>─────────────────</option>
                        {% for party in parties %}
                            <option
                            value="{{ party.id }}"
                            {% if request.GET.party == party.id|slugify %}selected{% endif %}
                            >
                                {{party.name}} ({{party.shortname}})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <select name="state" class="form-control">
                        <option value="">{% trans 'filter_by_state' %}...</option>
                        <option disabled>─────────────────</option>
                        {% for state in states %}
                            <option
                            value="{{ state.id }}"
                            {% if request.GET.state == state.id|slugify %}selected{% endif %}
                            >
                                {{state.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <select name="category" class="form-control">
                        <option value="">{% trans 'sort_by_category' %}...</option>
                        <option disabled>─────────────────</option>
                        {% for category in categories %}
                            <option
                            value="{{ category.id }}"
                            {% if request.GET.category == category.id|slugify %}selected{% endif %}
                            >
                                {{category.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <select name="is_member" class="form-control">
                        <option value="">{% trans 'All candidates' %}</option>
                        <option value="1" {% if request.GET.is_member == '1' %}selected{% endif %}>{% trans 'Only current members of parliament' %}</option>
                        <option value="0" {% if request.GET.is_member == '0' %}selected{% endif %}>{% trans 'Only new candidates' %}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span>&nbsp;{% trans 'filter' %}</button>
        </div>
    </div>
</form>
