{% extends 'index.html' %}

{% load i18n %}

{% block 'content' %}
    <h2 class="registration-title">{% trans 'Registration for candidates' %}</h2>
    <p class="registration-description">{% trans 'After the registration you will get a link to your personal profile on Freedomvote' %}</p>
    <form class="registration" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <input type="submit" value="{% trans 'Register' %}" class="btn btn-primary form-control">
    </form>
{% endblock %}
