{% load thumbnail staticfiles i18n helpers %}
<tr>
    <td>
        <div class="row candidate-row">
            <div class="col-xs-12 col-md-5 col-sm-6 center-xs">
                <img class="img-thumbnail" width="60px" src="{% if politician.image %}{{politician.image|thumbnail_url:'large'}}{% else %}{% static 'images/placeholder.svg' %}{% endif %}">
                <br class="visible-xs">
                <a href="{% url 'politician' politician_id=politician.id %}">{{politician.first_name}} {{politician.last_name}} {{politician.get_details}}</a>
            </div>
            <div class="col-xs-12 col-md-7 col-sm-6 charts">
                <div
                 class="statistic"
                 id="statistic-{{politician.id}}"
                 data-url="{% url 'politician_statistic' politician_id=politician.id %}{% get_params request 'state' 'search' %}"
                >
                </div>
                <div class="detail" id="detail-{{politician.id}}"></div>
            </div>
        </div>
    </td>
</tr>
