{% load thumbnail staticfiles i18n helpers %}
<tr>
    <td>
        <div class="row candidate-row">
            <div class="col-xs-12 col-md-5 col-sm-6 center-xs">
                {% if politician.image %}
                    <img class="img-thumbnail img-responsive" src="{{politician.image|thumbnail_url:'small'}}">
                {% else %}
                    <img class="img-thumbnail img-responsive" width="60px" src="{% static 'images/placeholder.svg' %}">
                {% endif %}
                <br class="visible-xs">
                <a href="{% url 'politician' politician_id=politician.id %}">{{politician.first_name}} {{politician.last_name}} {{politician.get_details}}</a>
            </div>
            <div class="col-xs-12 col-md-7 col-sm-6 charts">
                <div
                 class="statistic"
                 id="statistic-{{politician.id}}"
                 data-url="{% url 'politician_statistic' politician_id=politician.id %}{% get_params request 'state' 'search' %}"
                >
                </div>
                <div class="detail" id="detail-{{politician.id}}"></div>
            </div>
        </div>
    </td>
</tr>
