{% extends 'index.html' %}

{% load i18n static thumbnail %}

{% block 'scripts' %}
    <script src="{% static 'lib/highcharts/highcharts-more.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/description_toggler.js' %}"></script>
    <script src="{% static 'js/readonly-slider.js' %}"></script>
    <script src="{% static 'js/popover_toggler.js' %}"></script>
    <script src="{% static 'js/socialmedia.js' %}"></script>
{% endblock %}

{% block 'content' %}
    {% include 'core/profile/description.html' %}
    <hr>
    {% include 'core/profile/questions.html' %}
{% endblock %}

{% block 'meta' %}
    <meta property="og:title" content="{{politician.first_name}} {{politician.last_name}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% if politician.image %}{{base_url}}{{politician.image|thumbnail_url:'large'}}{% else %}{{base_url}}{% static 'images/placeholder.svg' %}{% endif %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri|urlencode }}" />
    <meta property="og:description" content= "{% blocktrans %}The profile of {{politician.first_name}} {{politician.last_name}} on Freedomvote{% endblocktrans %}" />
{% endblock %}
