{% load static %}

{% block 'scripts' %}
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts/highcharts-more.js' %}"></script>
    <script src="{% static 'js/profile_spider_embed.js' %}"></script>
{% endblock %}
{% with request.scheme|add:'://'|add:request.get_host as host_url %}
<a href="{{ politician_url }}" target="_blank" class="linkwrap">
  <div class="blocker"></div>
  <div id="chart" data-host="{{ host_url }}" data-url="{% url 'politician_statistic_spider' politician_id=politician_id %}?compare"></div>
</a>
{% endwith %}
<style>
body {
    margin: 0
}
#chart {
    height: 280px;
    width: 400px;
}
.linkwrap {
  position: relative;
  display: inline-block;
}
.blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.linkwrap iframe {
  z-index: 2;
}
</style>
