{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block 'scripts' %}
    <script src="{% static 'js/compare.js' %}"></script>
    <script src="{% static 'js/description_toggler.js' %}"></script>
{% endblock %}

{% block 'content' %}
<form method="post" id="form">
    {% csrf_token %}
    <h2>{% trans 'your_opinion_to' %}</h2>
    <table class="table table-striped">
        <thead>
            <th>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-6 pull-right hidden-xs">
                        {% include 'core/helpers/scale.html' %}
                    </div>
                </div>
            </th>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-6 col-lg-8 col-xs-12">
                            {{d.question.text}} {{d.question.get_description_code|safe}}
                        </div>
                        <div class="col-md-6 col-lg-4 col-xs-12">
                            <div class="visible-xs scale-slider">
                                {% include 'core/helpers/scale.html' %}
                            </div>
                            <input type="hidden" name="question_{{ d.question.id }}" value="{{d.value}}">
                            <div
                             class="slider"
                             id="slider_{{d.question.id}}"
                             data-value={{d.value}}
                            >
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right buttons">
        <a class="btn btn-default" id="evaluate" href="{% url 'candidates' %}?evaluate">{% trans 'evaluate' %}</a>
        <input type="submit" class="btn btn-primary" value="{% trans 'save' %}">
    </div>
</form>
{% endblock %}
