{% load thumbnail staticfiles i18n %}
<tr>
    <td class="col-md-2">
        {% if politician.image %}
            <img class="img-thumbnail img-responsive" src="{{politician.image|thumbnail_url:'small'}}">
        {% else %}
            <img class="img-thumbnail img-responsive" width="130px" src="{% static 'images/placeholder.svg' %}">
        {% endif %}
    </td>
    <td class="col-md-4">
        <h4>{{politician.first_name}} {{politician.last_name}}</h4>
        <div class="row">
            <p class="col-md-4">{% trans 'state' %}</p>
            <p class="col-md-8">{{ politician.get_state }}</p>
        </div>
        <div class="row">
            <p class="col-md-4">{% trans 'party' %}</p>
            <p class="col-md-8">{{ politician.get_party }}</p>
        </div>
        <a href="{% url 'profile' politician.id %}">{% trans 'details' %}...</a>
    </td>
    <td class="col-md-6">
        <div class="statistic" id="statistic-{{politician.id}}" data-url="{% url 'profile_info' politician.id %}{% if 'evaluate' in request.GET.keys %}?evaluate{% endif %}"></div>
    </td>
</tr>
