{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block 'content' %}
<div class="row">
    <div class="col-md-4">
        {% if politician.image %}
            {% thumbnail politician.image 400x400 crop as thumb %}
            <img alt="{{ politician.first_name }} {{ politician.last_name }}" src="{{thumb.url}}" class="img-thumbnail img-responsive">
        {% else %}
            <svg version="1.1" class="img-thumbnail" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px" height="400px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <rect x="-0.5" y="1" fill="#F8F8F8" width="500.25" height="500"/>
                <g>
                    <path fill="#777777" d="M182.315,196.75v106.5h135.37v-106.5H182.315L182.315,196.75z M306.78,291.703H193.864v-83.404H306.78   V291.703L306.78,291.703z"/>
                    <polygon fill="#777777" points="199.715,282.865 223.088,258.295 231.847,262.088 259.477,232.661 270.358,245.676    275.262,242.711 301.827,282.865  "/>
                    <circle fill="#777777" cx="226.719" cy="229.417" r="10.21"/>
                </g>
            </svg>
        {% endif %}
    </div>
    <div class="col-md-8 details">
        <h2>{{ politician.first_name }} {{ politician.last_name }}</h2>
        <div class="row">
            <div class="col-md-4"><strong>{% trans "state" %}</strong></div>
            <div class="col-md-8">{{politician.get_state}}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><strong>{% trans "party" %}</strong></div>
            <div class="col-md-8">{{politician.get_party}}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><strong>{% trans "past_contributions" %}</strong></div>
            <div class="col-md-8">{{politician.past_contributions}}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><strong>{% trans "future_plans" %}</strong></div>
            <div class="col-md-8">{{politician.future_plans}}</div>
        </div>
        <div class="row">
            <div class="col-md-4"><strong>{% trans "is_member_of_parliament" %}</strong></div>
            <div class="col-md-8">{% if politician.is_member_of_parliament %}{% trans "yes" %}{%else%}{% trans "no" %}{%endif%}</div>
        </div>
        <div class="row chart" id="{{politician.id}}">
        </div>
    </div>
</div>
    <hr>
    <h2>{% trans "your_opinion_to" %}</h2>
    <table class="table table-striped">
        <thead>
            <th></th>
            <th class="col-md-4">
                <span class="pull-left">{% trans "applies_not" %}</span>
                <span class="pull-right">{% trans "applies" %}</span>
            </th>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                <td>{{answer.question.text}}</td>
                <td>
                    <div
                     class="slider"
                     id="slider_{{answer.id}}"
                     data-value={{answer.agreement_level}}
                    ></div>
                    <em>{{answer.note}}</em>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('.slider').each(function() {
            var value = $(this).data('value')
            $(this).slider({
              max: 10,
              min: 0,
              value: value,
              step: 2,
              disabled: true
            })
        })

        var item = $('.chart')

        $.getJSON('/statistic/' + item.attr('id') + '/')
        .success(function(data){
          item.highcharts({
            chart: {
              type: 'bar',
              backgroundColor: 'transparent',
              height: 120
            },
            title: {
              text: ' '
            },
            subtitle: {
              text: ' '
            },
            xAxis: {
              categories: data.categories,
            },
            credits: {
              enabled: false
            },
            yAxis: {
              min: 0,
              max: 10,
              title: ' ',
              minorTickInterval: 1,
              labels: {
                enabled: false
              }
            },
            tooltip: false,
            plotOptions: {
              column: {
                pointPadding: 0.2,
                borderWidth: 0
              }
            },
            legend: {
              enabled: false
            },
            series: [{
              colorByPoint: true,
              data: data.values
            }]
          });
        })
    </script>
{% endblock %}
