{% load staticfiles %}

<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">

        <title>Freedom Vote</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'jquery-simple-slider/css/simple-slider-volume.css' %}">
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'jquery-simple-slider/js/simple-slider.js' %}"></script>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            {% block 'content' %}{% endblock %}
        </div>
    </body>
</html>
