{% extends 'index.html' %}

{% block 'content' %}
<h1>Freedomvote is working!</h1>
<p>You getting redirected here implies the basics of your Freedomvote deploy are working. Revert to the <a href="https://github.com/freedomvote/freedomvote/blob/master/README.md">documentation</a> to read up on how to configure your Freedomvote install.</p>
<h2>Next steps</h2>
<ul>
    <li>Create new pages in the <a href="/admin">Django admin interface</a>.</li>
    <li>Populate the Freedomvote information, using the commandline tools, the <a href="/admin">Django admin interface</a> or the dedicated dashboard for the parties.</li>
</ul>
{% endblock %}
