{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block 'scripts' %}
<script src="{% static 'politician.js' %}"></script>
{% endblock %}

{% block 'content' %}
    <h2>{{ politician.first_name }} {{ politician.last_name }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="first_name">{% trans "first_name" %}</label>
                    <input name="first_name" type="text" class="form-control" value="{{politician.first_name}}" disabled>
                </div>
                <div class="form-group">
                    <label for="email">{% trans "email" %}</label>
                    <input name="email" type="text" class="form-control" value="{{politician.email}}">
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="is_member_of_parliament" {% if politician.is_member_of_parliament %}checked="checked"{% endif %}>
                        {% trans "is_member_of_parliament" %}
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">{% trans "state" %}</label>
                            <select name="state" class="form-control">
                                <option value="0">{% trans "please_choose" %}</option>
                                <option disabled>──────────</option>
                                {% for state in states %}
                                <option value="{{state.id}}" {% if state == politician.state %}selected{% endif %}>{{state.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="party">{% trans "party" %}</label>
                            <select name="party" class="form-control">
                                <option value="0" {% if not politician.party_other and not politician.party %}selected{% endif %}>{% trans "please_choose" %}</option>
                                <option disabled>──────────</option>
                                {% for party in parties %}
                                    <option value="{{party.id}}" {% if party == politician.party %}selected{% endif %}>{{party.name}}</option>
                                {% endfor %}
                                <option disabled>──────────</option>
                                <option value="party_other" {% if politician.party_other %}selected{% endif %}>{% trans "other" %}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="party_other" value="{{politician.party_other}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="last_name">{% trans "last_name" %}</label>
                    <input name="last_name" type="text" class="form-control" value="{{politician.last_name}}" disabled>
                </div>
                <div class="form-group">
                    <label for="past_contributions">{% trans "past_contributions" %}</label>
                    <textarea name="past_contributions" class="form-control">{{politician.past_contributions}}</textarea>
                </div>
                <div class="form-group">
                    <label for="future_plans">{% trans "future_plans" %}</label>
                    <textarea class="form-control" name="future_plans">{{politician.future_plans}}</textarea>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                {% if politician.image %}
                    {% thumbnail politician.image 300x300 crop as thumb %}
                    <img alt="{{ politician.first_name }} {{ politician.last_name }}" src="{{thumb.url}}" class="img-thumbnail img-responsive">
                {% else %}
                    <svg class="img-thumbnail img-responsive" width="310px" height="310px" viewBox="0 0 500 500" enable-background="new 0 0 500 500">
                        <rect x="-0.5" y="1" fill="#F8F8F8" width="500.25" height="500"/>
                        <g>
                            <path fill="#777777" d="M182.315,196.75v106.5h135.37v-106.5H182.315L182.315,196.75z M306.78,291.703H193.864v-83.404H306.78   V291.703L306.78,291.703z"/>
                            <polygon fill="#777777" points="199.715,282.865 223.088,258.295 231.847,262.088 259.477,232.661 270.358,245.676    275.262,242.711 301.827,282.865  "/>
                            <circle fill="#777777" cx="226.719" cy="229.417" r="10.21"/>
                        </g>
                    </svg>
                {% endif %}
                <input type="file" name="image">
                <label>
                    <input type="checkbox" name="remove_image">
                    {% trans "remove_image" %}
                </label>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary pull-right" value="{% trans "save" %}">
            </div>
        </div>
    </form>
    <hr>
    <h2>{% trans "your_opinion_to" %}</h2>
    <table class="table table-striped">
        <thead>
            <th></th>
            <th class="col-md-4">
                <span class="pull-left">{% trans "applies_not" %}</span>
                <span class="pull-right">{% trans "applies" %}</span>
            </th>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{question.text}}</td>
                <td>
                    <form>
                        {% csrf_token %}
                        <input type="hidden" name="question" value="{{ question.id }}">
                        <input type="hidden" name="unique_url" value="{{ politician.unique_url }}">
                        <input type="hidden" name="agreement_level" value="">
                        <div
                         class="slider"
                         id="slider_{{question.id}}"
                         data-value={%for answer in answers%}{%if answer.question == question%}{{answer.agreement_level}}{%endif%}{%endfor%}
                        ></div>
                        <textarea name="note" class="form-control note" placeholder="{% trans "note" %}">{%for answer in answers%}{%if answer.question == question%}{{answer.note}}{%endif%}{%endfor%}</textarea>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right buttons">
        <form method="post" id="unpublish">
            {% csrf_token %}
            <input type="hidden" name="unique_url" value="{{politician.unique_url}}">
            <input type="submit" class="btn btn-default" value="{% trans "retract_answers" %}">
        </form>
        <form method="post" id="publish">
            {% csrf_token %}
            <input type="hidden" name="unique_url" value="{{politician.unique_url}}">
            <input type="submit" class="btn btn-primary" value="{% trans "share_answers" %}">
        </form>
    </div>
{% endblock %}
