{% load staticfiles i18n %}

<footer class="footer">
    <div class="center-content">
        <div class="col-md-2">
            <a class="footer-icon" href="{% url 'info' %}">
                <img src="{% static 'images/json.svg' %}"><br>
                API
            </a>
        </div>
        <div class="col-md-2">
            <a class="footer-icon" href="https://notabug.org/fsfe-zh/freedomvote">
                <img src="{% static 'images/git.svg' %}"><br>
                {% trans 'source_code' %}
            </a>
        </div>
    </div>
</footer>
