{% extends 'index.html' %}

{% load staticfiles i18n %}

{% block 'content' %}
<div class="partners">
    <h1>{% trans 'our_partners' %}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="partner">
                <div class="partner-logo" style="background-image: url('{% static 'images/fsfe_logo.png' %}')"></div>
                <div class="partner-description">
                    <h2 class="partner-title"><a href="https://fsfe.org">FSFE</a></h2>
                    <div class="partner-text">
                        Free Software Foundation Europe e.V.<br>
                        Schönhauser Allee 6/7<br>
                        10119 Berlin
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="partner">
                <div class="partner-logo" style="background-image: url('{% static 'images/chopen_logo.png' %}')"></div>
                <div class="partner-description">
                    <h2 class="partner-title"><a href="https://www.ch-open.ch/">/ch/open</a></h2>
                    <div class="partner-text">
                        Swiss Open Systems User Group<br>
                        /ch/open<br>
                        8000 Zürich
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="partner">
                <div class="partner-logo" style="background-image: url('{% static 'images/partner_logos/parldigi_logo.jpg' %}')"></div>
                <div class="partner-description">
                    <h2 class="partner-title"><a href="http://www.digitale-nachhaltigkeit.ch/">Parldigi</a></h2>
                    <div class="partner-text">
                        Verein Swiss Open Systems User Group /ch/open<br>
                        8000 Zürich
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="partner">
                <div class="partner-logo" style="background-image: url('{% static 'images/partner_logos/wilhelmtux_logo.gif' %}')"></div>
                <div class="partner-description">
                    <h2 class="partner-title"><a href="http://www.wilhelmtux.ch">Willhelm Tux</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="partner">
                <div class="partner-logo" style="background-image: url('{% static 'images/partner_logos/isoc_logo.png' %}')"></div>
                <div class="partner-description">
                    <h2 class="partner-title"><a href="http://www.internetsociety.org/">ISOC</a></h2>
                    <div class="partner-text">
                        Internet Society<br>
                        Galerie Jean-Malbuisson 15<br>
                        1204 Genf
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="center-content-lg">
                <div class="col-md-4">
                    <div class="partner">
                        <div class="partner-logo" style="background-image: url('{% static 'images/partner_logos/allmend_logo.png' %}')"></div>
                        <div class="partner-description">
                            <h2 class="partner-title"><a href="http://allmend.ch/">Digitale Allmend</a></h2>
                            <div class="partner-text">
                                Verein<br>
                                Digitale Allmend<br>
                                8000 Zürich
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="partner">
                        <div class="partner-logo" style="background-image: url('{% static 'images/partner_logos/opendata_logo.png' %}')"></div>
                        <div class="partner-description">
                            <h2 class="partner-title"><a href="http://opendata.ch/">Opendata.ch</a></h2>
                            <div class="partner-text">
                                Opendata.ch<br>
                                8000 Zürich
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'js/partners.js' %}">
{% endblock %}
